<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='User - ' + ${user.getEmail()}, subtitle='', icon='user-tag')">
<head></head>
<body>
<section th:fragment="content">
    <div class="card">

        <div class="p-3">
            <div th:text="${user.getEmail()}"></div>

            <!--
                List of created surveys

                List of surveys, which user responded to
            -->
        </div>
    </div>
</section>
</body>
</html>