<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Users', subtitle='', icon='users')">
<head></head>
<body>
<section th:fragment="content">
    <div class="card">

        <div class="p-3">
            <table class="table table-bordered table-striped m-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getId()}">
                    </td>

                    <td th:text="${user.getFullName()}">
                    </td>

                    <td th:text="${user.getEmail()}">
                    </td>

                    <td>
                        <span class="badge" th:classappend="${user.getRole().getName()} == 'ROLE_ADMIN' ? 'badge-primary' : 'badge-secondary'" th:text="${user.getRole().getName()}"></span>
                    </td>

                    <td>
                        <a th:href="@{/admin/users/detail/{id}(id = ${user.getId()})}" class="btn btn-sm btn-primary">
                            <i class="fas fa-eye"></i>
                        </a>
                        <form class="d-inline" th:action="@{/admin/users/delete/{id}(id=${user.getId()})}"
                              method="post">
                            <input type="hidden" name="id" th:value="${user.getId()}"/>
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <td colspan="5">
                        <nav>
                            <ul class="pagination justify-content-center m-0">
                                <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                                    <a th:href="@{/admin/users/{page}(page=0)}" class="page-link">
                                        <i class="fas fa-step-backward"></i>
                                        First
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                                    <a th:href="@{/admin/users/{page}(page=${page}-1)}" class="page-link">
                                        <i class="fas fa-chevron-left"></i>
                                        Previous
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                                    <a th:href="@{/admin/users/{page}(page=${page}+1)}" class="page-link">
                                        Next
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                                    <a th:href="@{/admin/users/{page}(page=${lastPage})}" class="page-link">
                                        Last
                                        <i class="fas fa-step-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
</body>
</html>