<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      th:fragment="page(title, metaDescription, icon)">
<head th:replace="fragments/head :: common_header(title=${title}, metaDescription=${metaDescription})"></head>
<body>

<nav class="navbar shadow navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">Survey App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#request.requestURI == '/'} ? 'active'">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-home"></i>
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#request.requestURI == '/surveys'} ? 'active'">
                <a class="nav-link" th:href="@{/surveys}">
                    <i class="fas fa-poll-h"></i>
                    Surveys <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div class="m-auto text-light">
            <i class="fas fa-user"></i>
            <span class="font-weight-bold" th:text="${#authentication.name}"></span>
        </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/admin}"><i class="fas fa-wrench"></i> Administration <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#request.requestURI == '/sign-in'} ? 'active'"
                sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/sign-in}"><i class="fas fa-sign-in-alt"></i> Sign in <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#request.requestURI == '/sign-up'} ? 'active'"
                sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/sign-up}"><i class="fas fa-user-plus"></i> Sign up <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

        <form class="form-inline my-2" name="logoutForm" th:action="@{/sign-out}" method="post"
              sec:authorize="isAuthenticated()">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </button>
        </form>
    </div>
</nav>

<div class="content-container container mt-5 mb-5">
    <div class="mb-3" th:if="${message}" th:insert="fragments/flash-message" th:with="message=${message}">
    </div>

    <div class="page-header shadow bg-secondary p-3">
        <h1 class="m-0">
            <i th:if="icon" th:class="'fas fa-' + ${icon}"></i>
            <span th:text="${title}"></span>
        </h1>
    </div>

    <div th:replace="fragments/front-breadcrumbs" th:with="breadcrumbs=${breadcrumbs}">
    </div>

    <div class="mt-3">
        <div th:replace="this :: content"></div>
    </div>
</div>

<div class="filler"></div>

<footer class="footer bg-primary">
    <div class="container">
        <div class="p-3 text-center text-white">
            Project for PPRO - Survey application by Dennis Tschamler

            <div class="mt-1">
                <a target="_blank" th:href="@{/sitemap.xml}" class="text-white">
                    <i class="fas fa-sitemap"></i>
                    Sitemap
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>