<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      th:fragment="page(title, metaDescription, icon)">
<head th:replace="fragments/head :: common_header(title=${title},metaDescription=${metaDescription})"></head>
<body class="d-flex justify-content-center align-items-center">

<div class="content-container container">
    <div class="page-header shadow bg-danger p-3">
        <h1 class="m-0 text-center">
            <span th:text="${title}"></span>
        </h1>
    </div>

    <div>
        <div th:replace="this :: content"></div>

        <div class="bg-white border top d-flex justify-content-center p-3">
            <a th:href="@{/}" class="btn btn-primary">Return to homepage</a>
        </div>
    </div>
</div>

</body>
</html>