<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      th:fragment="page(title, subtitle, icon)">
<head th:replace="fragments/head-admin :: common_header(title=${title})"></head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{/}">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><i class="fas fa-globe"></i> Show web <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:classappend="${#request.requestURI == '/admin'} ? 'active'">
                <a class="nav-link" th:href="@{/admin}"><i class="fas fa-tachometer-alt"></i> Dashboard <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:classappend="${#request.requestURI == '/admin/users'} ? 'active'">
                <a class="nav-link" th:href="@{/admin/users}"><i class="fas fa-users"></i> Users <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:classappend="${#request.requestURI == '/admin/surveys'} ? 'active'">
                <a class="nav-link" th:href="@{/admin/surveys}"><i class="fas fa-poll-h"></i> Surveys <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>


        <div class="d-flex align-items-center">
            <div class="text-light mr-3">
                <i class="fas fa-user"></i>
                <span class="font-weight-bold" th:text="${#authentication.name}"></span>
            </div>
            <form class="form-inline my-2" name="logoutForm" th:action="@{/sign-out}" method="post"
                  sec:authorize="isAuthenticated()">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </button>
            </form>
        </div>
    </div>
</nav>

<div>
    <div class="page-header shadow bg-secondary p-3 mb-5">
        <h1 class="h5 m-0">
            <i th:if="icon" th:class="'fas fa-' + ${icon}"></i>
            <span th:text="${title}"></span>
            <small th:text="${subtitle}"></small></h1>
    </div>

    <div class="container mb-5">
        <div class="mb-3" th:if="${message}" th:insert="fragments/flash-message" th:with="message=${message}">
        </div>

        <div class="mb-3" th:if="${actions.size() > 0}" th:insert="fragments/admin-actions"
             th:with="actions=${actions}">
        </div>

        <div th:replace="this :: content">
        </div>
    </div>
</div>
</body>
</html>