<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Create survey', subtitle='', icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">

    <form action="#" th:action="@{/admin/surveys/create}" th:object="${surveyDto}" method="post" class="m-0">

        <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
            <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
        </div>

        <div class="p-3 mb-3 bg-white">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{name}" id="name">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Description</label>
                <textarea class="form-control" th:errorclass="is-invalid" th:field="*{description}"
                          id="description"></textarea>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="endsAt">Ends at</label>
                <input type="date" class="form-control" th:errorclass="is-invalid" th:field="*{endsAt}"
                          id="endsAt">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('endsAt')}" th:text="${err}"></p>
                </div>
            </div>
        </div>

        <div class="bg-white mb-3">
            <div class="d-flex justify-content-between border-bottom p-3 ">
                <span class="h3">Questions</span>
                <button type="submit" class="btn btn-sm btn-success" name="addQuestion">
                    <i class="fas fa-plus"></i>
                    Add question
                </button>
            </div>

            <div class="p-3">

                <div class="alert alert-danger mt-3" th:if="${#fields.hasErrors('questions')}">
                    <span th:each="err : ${#fields.errors('questions')}" th:text="${err}"></span>
                </div>

                <div class="alert alert-info mt-3" th:if="*{questions.size() == 0}">
                    No questions added
                </div>

                <table class="table table-bordered m-0" th:if="*{questions.size() > 0}">
                    <thead>
                    <tr>
                        <th>
                            Question
                        </th>

                        <th>
                            Type
                        </th>

                        <th>
                            Label
                        </th>

                        <th>
                            Answers
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="question, rowStat : *{questions}">
                        <td>
                            Question #<span th:text="${rowStat.index+1}"></span>

                            <div class="mt-3">
                                <button class="btn btn-danger" type="submit" name="removeQuestion"
                                        th:value="${rowStat.index}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>

                            <div class="alert alert-danger mt-3" th:if="${#fields.hasErrors('questions['+rowStat.index+']')}">
                                <span th:each="err : ${#fields.errors('questions['+rowStat.index+']')}" th:text="${err}"></span>
                            </div>

                            <input type="hidden" th:name="${'questions['+rowStat.index+'].sort'}"
                                   th:value="${rowStat.index}">
                        </td>

                        <td>
                            <div class="form-group">
                                <label th:for="'questions'+${rowStat.index}+'.type'">Type</label>
                                <select class="form-control" th:errorclass="is-invalid"
                                        th:field="*{questions[__${rowStat.index}__].type}">
                                    <option th:each="questionType : ${T(cz.dennistschamler.survey.model.entity.question.QuestionType).values()}"
                                            th:value="${questionType}" th:text="${questionType}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label th:for="'questions'+${rowStat.index}+'.label'">Label</label>
                                <input class="form-control" th:errorclass="is-invalid"
                                       th:field="*{questions[__${rowStat.index}__].label}">
                                <div class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('questions['+rowStat.index+'].label')}"
                                       th:text="${err}"></p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <button type="submit" class="btn btn-sm btn-success" name="addAnswer"
                                    th:value="${rowStat.index}">
                                <i class="fas fa-plus"></i>
                                Add answer
                            </button>

                            <div class="alert alert-danger mt-3"
                                 th:if="${#fields.hasErrors('questions['+rowStat.index+'].answers')}">
                                <span th:each="err : ${#fields.errors('questions['+rowStat.index+'].answers')}"
                                      th:text="${err}"></span>
                            </div>

                            <div class="mt-3" th:each="answer, rowStat1 : *{questions[__${rowStat.index}__].answers}">
                                <input type="hidden" th:name="${'questions['+rowStat.index+'].answers['+rowStat1.index+'].sort'}"
                                       th:value="${rowStat1.index}">

                                <div class="form-group">
                                    <label th:for="'questions'+${rowStat.index}+'.answers'+rowStat1.index+'.label'">Label</label>
                                    <div class="input-group">
                                        <input class="form-control" th:errorclass="is-invalid"
                                               th:field="*{questions[__${rowStat.index}__].answers[__${rowStat1.index}__].label}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-danger" type="submit" name="removeAnswer" th:value="${rowStat.index}+'-'+${rowStat1.index}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        <p th:each="err : ${#fields.errors('questions['+rowStat.index+'].answers['+rowStat1.index+'].label')}"
                                           th:text="${err}"></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="p-3 mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Create survey</button>
        </div>
    </form>

</section>
</body>
</html>