<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Survey - ' + ${survey.getName()}, subtitle='', icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">

    <div class="bg-white border-top mb-3 p-3 d-flex justify-content-between">
        <div th:text="${survey.getDescription()}">
        </div>
        <div class="ml-3 d-flex text-primary align-items-center" th:title="'Ends at ' + ${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}">
            <i class="fas fa-calendar-times mr-2"></i>
            <span th:text="${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="bg-primary mb-3 p-3">
                <h2 class="m-0 text-white">Questions</h2>
            </div>

            <div class="card bg-white mb-3" th:each="question, rowStat: ${survey.getQuestions()}">
                <div class="p-3 d-flex">
                    <h3 class="h4 m-0">
                        <span class="text-muted mr-2">#<span th:text="${rowStat.index+1}"></span></span>
                        <span th:text="${question.getLabel()}"></span>
                        <span class="badge badge-secondary" th:text="${question.getType()}"></span>
                    </h3>
                </div>

                <ul class="list-group list-group-flush" th:if="${question.getType()} != ${T(cz.dennistschamler.survey.model.entity.question.QuestionType).SINGLE_TEXT}">
                    <li class="list-group-item" th:each="answer: ${question.getAnswers()}">
                        <span th:text="${answer.getLabel()}"></span>
                        <span class="badge badge-primary" th:text="${answer.getUserAnswers().size()}"></span>
                    </li>
                </ul>

                <div class="p-3 border-top" th:each="answer: ${question.getAnswers()}" th:if="${question.getType()} == ${T(cz.dennistschamler.survey.model.entity.question.QuestionType).SINGLE_TEXT}">
                    <span class="badge badge-primary mb-2 mr-2" th:each="userAnswer: ${answer.getUserAnswers()}" th:text="${userAnswer.getResponse()}"></span>
                </div>

                <div th:if="${question.getType()} != ${T(cz.dennistschamler.survey.model.entity.question.QuestionType).SINGLE_TEXT}" class="p-3" style="height: 300px">
                    <canvas class="question-chart" th:data-question-id="${question.getId()}" th:id="'question-chart-'+${question.getId()}" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="bg-primary mb-3 p-3">
                <h2 class="m-0 text-white">Respondents
                    <span class="badge badge-secondary" th:text="${users.size()}"></span>
                </h2>
            </div>

            <div class="card bg-white mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="user: ${users}">
                        <span th:text="${user.getEmail()}"></span>
                        <a th:href="@{/admin/surveys/detail/{id}/response/{userId}(id=${survey.getId()}, userId=${user.getId()})}"
                           class="btn btn-secondary">
                            <i class="fas fa-eye"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>

        $('.question-chart').each(function () {
            const id = $(this).attr('id');
            const questionId = $(this).data('question-id');
            console.log(id);

            $.ajax({
                url: '/api/chart/question-pie/'+questionId,
                async: true,
                dataType: 'json',
                type: "get",
            }).done(function (data) {
                console.log(data);
                var ctx = document.getElementById(id).getContext('2d');
                var myPieChart = new Chart(ctx, {
                    ...data,
                    type: 'pie'
                });
            })
        });

    </script>
</section>
</body>
</html>