<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Surveys', subtitle='', icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">

    <div class="bg-white">

        <div class="p-3">
            <table class="table table-bordered table-striped m-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of questions</th>
                    <th scope="col">Ends at</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="survey: ${surveys}">
                    <td th:text="${survey.getId()}">
                    </td>

                    <td th:text="${survey.getName()}">
                    </td>

                    <td th:text="${survey.getQuestions().size()}">
                    </td>

                    <td th:text="${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}">
                    </td>

                    <td>
                        <a th:href="@{/admin/surveys/detail/{id}(id = ${survey.getId()})}"
                           class="btn btn-sm btn-primary">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a th:href="@{/admin/surveys/edit/{id}(id = ${survey.getId()})}"
                           class="btn btn-sm btn-warning">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <form class="d-inline" th:action="@{/admin/surveys/delete/{id}(id=${survey.getId()})}"
                              method="post">
                            <input type="hidden" name="id" th:value="${survey.getId()}"/>
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>

                <thead>
                <tr>
                    <td colspan="5">
                        <nav>
                            <ul class="pagination justify-content-center m-0">
                                <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                                    <a th:href="@{/admin/surveys/{page}(page=0)}" class="page-link">
                                        <i class="fas fa-step-backward"></i>
                                        First
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                                    <a th:href="@{/admin/surveys/{page}(page=${page}-1)}" class="page-link">
                                        <i class="fas fa-chevron-left"></i>
                                        Previous
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                                    <a th:href="@{/admin/surveys/{page}(page=${page}+1)}" class="page-link">
                                        Next
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                                    <a th:href="@{/admin/surveys/{page}(page=${lastPage})}" class="page-link">
                                        Last
                                        <i class="fas fa-step-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
</body>
</html>