<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Survey - ' + ${survey.getName()}, subtitle='', icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">
    <div class="bg-white mb-3 p-3">
        <div class="font-weight-bold h3">
            Responses by
            <span th:text="${user.getEmail()}"></span>
        </div>
    </div>

    <div class="card mb-3" th:each="entry, rowStat: ${map}">
        <div class="d-flex align-items-center">
            <div class="text-white bg-primary border-right p-3 mr-3">#<span th:text="${rowStat.index+1}"></span></div>
            <h4 class="m-0 font-weight-bold" th:text="${entry.key.getLabel()}"></h4>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="userAnswer: ${entry.value}" th:text="${userAnswer.getResponse()}"></li>
        </ul>
    </div>
</section>
</body>
</html>