<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div th:fragment="adminActions(actions)">
        <a th:each="action: ${actions}" th:href="@{${action.link}}" class="btn mr-2" th:classappend="'btn-'+${action.color}">
            <i th:class="'fas fa-'+${action.icon}"></i>
            <span th:text="${action.label}"></span>
        </a>
    </div>
</body>
</html>