<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="frontBreadcrumbs(breadcrumbs)">
    <nav class="bg-white" aria-label="Breadcrumb">
        <ol class="breadcrumb m-0 bg-white">
            <li class="breadcrumb-item" th:aria-current="${rowStat.last} ? 'page'" th:each="breadcrumb, rowStat: ${breadcrumbs}">
                <span th:if="${rowStat.last}" th:text="${breadcrumb.label}"></span>

                <a th:unless="${rowStat.last}" th:href="@{${breadcrumb.link}}">
                    <span th:text="${breadcrumb.label}"></span>
                </a>
            </li>
        </ol>
    </nav>
</div>
</body>
</html>