<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, metaDescription)">
    <title th:text="${title}+' | Survey App'">Survey App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" th:content="${metaDescription}">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/fontawesome/all.css">
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/fontawesome/all.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
</head>
<body></body>
</html>