<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <title th:text="'Administration '+${title}+' | Survey App'">The awesome application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site-admin.css">
    <link rel="stylesheet" href="/css/fontawesome/all.css">
    <link rel="stylesheet" href="/chart.js/Chart.css">
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/fontawesome/all.js"></script>
    <script src="/chart.js/Chart.js"></script>
</head>
<body></body>
</html>