<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout-admin :: page(title='Dashboard', subtitle='', icon='tachometer-alt')">
<head></head>
<body>
<section th:fragment="content">

    <div class="card mb-3" th:if="${user}">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    Welcome <span class="font-weight-bold" th:text="${user.getFullName()}"></span>
                </div>
                <div>
                    <span class="badge badge-primary"
                          th:text="${user.getRole().getName()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="d-flex">
                    <div class="d-flex align-items-center bg-primary p-3 text-white">
                        <i class="fas fa-poll-h fa-lg"></i>
                    </div>

                    <div class="p-3">
                        <div class="text-uppercase"> Surveys</div>
                        <div class="mt-2 font-weight-bold" th:text="${surveyCount}"></div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-fire-alt"></i> Newest surveys
                </div>

                <div class="p-3" th:if="${newestSurveys.isEmpty()}">
                    <div class="alert alert-danger m-0">
                        No surveys
                    </div>
                </div>

                <div class="list-group list-group-flush">
                    <a th:href="@{/admin/surveys/detail/{id}(id=${survey.getId()})}" th:each="survey: ${newestSurveys}"
                       class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${survey.getName()}"></h5>
                            <small th:text="${#temporals.format(survey.getCreatedAt(), 'dd.MM.yyyy HH:mm')}"></small>
                        </div>
                        <p class="mb-0 mt-1" th:text="${survey.getDescription()}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="d-flex">
                    <div class="d-flex align-items-center bg-secondary p-3 text-white">
                        <i class="fas fa-users fa-lg"></i>
                    </div>

                    <div class="p-3">
                        <div class="text-uppercase">Users</div>
                        <div class="mt-2 font-weight-bold" th:text="${userCount}"></div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header bg-secondary text-white">
                    <i class="fas fa-fire-alt"></i> Newest users
                </div>

                <div class="p-3" th:if="${newestUsers.isEmpty()}">
                    <div class="alert alert-danger m-0">
                        No surveys
                    </div>
                </div>

                <div class="list-group list-group-flush">
                    <a th:href="@{/admin/users/detail/{id}(id=${user.getId()})}" th:each="user: ${newestUsers}"
                       class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${user.getEmail()}"></h5>
                            <small th:text="${#temporals.format(user.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>