@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

$white: #fff;
$gray-100: #eceff4;
$gray-200: #e5e9f0;
$gray-300: #e5e9f0;
$gray-400: #d8dee9;
$gray-500: #d8dee9;
$gray-600: #4c566a;
$gray-700: #434c5e;
$gray-800: #3b4252;
$gray-900: #2e3440;

$blue:    #88c0d0;
$indigo:  #81a1c1;
$purple:  #5e81ac;
$pink:    #bf616a;
$red:     #E76F51;
$orange:  #F4A261;
$yellow:  #E9C46A;
$green:   #2A9D8F;
$teal:    #88c0d0;
$cyan:    #88c0d0;

$primary: $green;
$secondary: $yellow;

$text-muted: $gray-400;

$body-bg: whitesmoke;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.highlight {
  transition-duration: .3s;
  background-color: white;

  &:hover {
    background-color: #f8f8f8;
  }
}

body {
  display:flex;
  flex-direction:column;
  height: 100%;
  min-height: 100%;
}

$footerHeight: 60px;

.footer {
  width: 100%;
  margin-top: auto;
}

.filler {
  flex: 1 1 auto;
}