<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(title='Survey - ' + ${survey.getName()}, metaDescription=${survey.getDescription()}, icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">

    <div class="bg-white border-top mb-3 p-3 d-flex justify-content-between">
        <div th:text="${survey.getDescription()}">
        </div>
        <div class="ml-3 d-flex text-primary align-items-center" th:title="'Ends at ' + ${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}">
            <i class="fas fa-calendar-times mr-2"></i>
            <span th:text="${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}"></span>
        </div>
    </div>

    <div class="alert alert-danger" sec:authorize="isAnonymous()">
       You need to <a th:href="@{/sign-in}" class="alert-link">sign in</a> to submit the survey
    </div>

    <div class="alert alert-warning" sec:authorize="isAuthenticated()" th:if="${alreadySubmitted}">
        You already submitted this survey
    </div>

    <div class="alert alert-warning" th:if="${survey.hasEnded()}">
        Survey already ended
    </div>

    <form th:if="${!alreadySubmitted && !survey.hasEnded()}" sec:authorize="isAuthenticated()" action="#" th:action="@{/surveys/detail/{id}/{slug}(id=${survey.getId()}, slug=${survey.getSlug()})}"
          th:object="${surveyAnswerDto}" method="post">

        <input type="hidden" name="surveyId"
               th:value="${survey.getId()}">

        <input type="hidden" name="userId"
               th:value="${user.getId()}">

        <div th:classappend="${rowStat.first ? 'mt-3' : ''}" th:each="question, rowStat: ${survey.getQuestions()}">
            <div class="bg-white shadow">
                <div class="border-bottom d-flex align-items-center">
                    <div class="text-white bg-primary border-right p-3 mr-3">#<span th:text="${rowStat.index+1}"></span>
                    </div>
                    <h2 class="m-0 font-weight-bold" th:text="${question.getLabel()}"></h2>
                </div>

                <div class="p-3">
                    <div th:if="${question.getType() == T(cz.dennistschamler.survey.model.entity.question.QuestionType).SINGLE_TEXT}">

                        <div th:each="answer, rowStat1 : ${question.getAnswers()}">

                            <input type="hidden" th:name="'userResponses['+__${rowStat.index}__+'].answers'"
                                   th:value="${answer.getId()}">

                            <div class="form-group">
                                <label th:for="'responses'+${answer.getId()}">Response</label>
                                <input class="form-control" th:errorclass="is-invalid"
                                       th:field="*{userResponses[__${rowStat.index}__].responses}">
                                <div class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('userResponses['+rowStat.index+'].responses')}"
                                       th:text="${err}"></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div th:if="${question.getType() == T(cz.dennistschamler.survey.model.entity.question.QuestionType).MULTIPLE_CHOICE}">

                        <div th:each="answer, rowStat1 : ${question.getAnswers()}">

                            <input type="hidden" th:name="'userResponses['+__${rowStat.index}__+'].answers'"
                                   th:value="${answer.getId()}">

                            <div class="form-check">
                                <input class="form-check-input" th:errorclass="is-invalid" type="checkbox"
                                       th:id="'userResponses['+${rowStat.index}+']['+${answer.getId()}+'].responses'"
                                       th:value="${answer.getLabel()}"
                                       th:field="*{userResponses[__${rowStat.index}__].responses}">
                                <label class="form-check-label"
                                       th:for="'userResponses['+${rowStat.index}+']['+${answer.getId()}+'].responses'"
                                       th:text="${answer.getLabel()}"></label>
                            </div>
                        </div>
                    </div>



                    <div th:if="${question.getType() == T(cz.dennistschamler.survey.model.entity.question.QuestionType).SINGLE_CHOICE}">

                        <div th:each="answer, rowStat1 : ${question.getAnswers()}">

                            <input type="hidden" th:name="'userResponses['+__${rowStat.index}__+'].answers'"
                                   th:value="${answer.getId()}">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:errorclass="is-invalid"
                                       th:field="*{userResponses[__${rowStat.index}__].responses}"
                                       th:id="'userResponses['+${rowStat.index}+']['+${answer.getId()}+'].responses'"
                                       th:value="${answer.getLabel()}">
                                <label class="form-check-label"
                                       th:for="'userResponses['+${rowStat.index}+']['+${answer.getId()}+'].responses'"
                                       th:text="${answer.getLabel()}">
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="alert alert-danger mt-3"
                         th:if="${#fields.hasErrors('userResponses['+rowStat.index+'].responses')}">
                        <span th:each="err : ${#fields.errors('userResponses['+rowStat.index+'].responses')}"
                              th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" th:if="${!rowStat.last}">
                <div class="vertical-line bg-secondary" style="height: 1rem; width: .5rem;">

                </div>
            </div>
        </div>

        <div class="alert alert-danger mt-3"
             th:if="${#fields.hasErrors('global')}">
                        <span th:each="err : ${#fields.errors('global')}"
                              th:text="${err}"></span>
        </div>

        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit survey</button>
        </div>
    </form>
</section>
</body>
</html>