<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(title='Active surveys', metaDescription='List of various surveys to fill. Pick the most suitable survey for you and start filling in.', icon='poll-h')">
<head></head>
<body>
<section th:fragment="content">

    <div class="alert alert-danger mt-3 p-3" th:if="${surveys.size() == 0}">
        No surveys
    </div>

    <a th:href="@{/surveys/detail/{id}/{slug}(id = ${survey.getId()}, slug = ${survey.getSlug()})}"
       class="text-decoration-none d-flex align-items-center mt-3 p-3 cursor-pointer highlight"
       th:each="survey: ${surveys}">
        <div class="mr-3">
            <i class="text-primary fas fa-poll-h fa-lg"></i>
        </div>
        <div class="d-flex flex-fill justify-content-between align-items-center">
            <div class="text-primary font-weight-bold" th:text="${survey.getName()}">
            </div>

            <div class="d-flex">
                <div class="text-secondary mr-3">
                    <i class="fas fa-question"></i>
                    <span class="font-weight-bold" th:text="${survey.getQuestions().size()}"></span>
                </div>
                <div class="text-danger">
                    <i class="fas fa-calendar-times"></i>
                    <span class="font-weight-bold" th:text="${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}"></span>
                </div>
            </div>
        </div>
    </a>

    <nav class="mt-3">
        <ul class="pagination justify-content-center m-0">
            <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                <a th:href="@{/surveys/{page}(page=0)}" class="page-link">
                    <i class="fas fa-step-backward"></i>
                    First
                </a>
            </li>
            <li class="page-item" th:classappend="(${page} == 0) ? 'disabled' : ''">
                <a th:href="@{/surveys/{page}(page=${page}-1)}" class="page-link">
                    <i class="fas fa-chevron-left"></i>
                    Previous
                </a>
            </li>
            <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                <a th:href="@{/surveys/{page}(page=${page}+1)}" class="page-link">
                    Next
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
            <li class="page-item" th:classappend="(${page} == ${lastPage}) ? 'disabled' : ''">
                <a th:href="@{/surveys/{page}(page=${lastPage})}" class="page-link">
                    Last
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>