<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(title='Survey application', metaDescription='Application for submitting various surveys on different topics.', icon='home')">
<head></head>
<body>
<section th:fragment="content">


    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-calendar-times"></i> Expiring surveys
                </div>

                <div class="p-3" th:if="${expiringSurveys.isEmpty()}">
                    <div class="alert alert-danger m-0">
                        No surveys
                    </div>
                </div>

                <div class="list-group list-group-flush">
                    <a th:href="@{/surveys/detail/{id}/{slug}(id = ${survey.getId()}, slug = ${survey.getSlug()})}"
                       class="list-group-item list-group-item-action"
                       th:each="survey: ${expiringSurveys}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${survey.getName()}"></h5>

                            <div class="text-danger">
                                <i class="fas fa-calendar-times"></i>
                                <small th:text="${#dates.format(survey.getEndsAt(), 'dd.MM.yyyy')}"></small>
                            </div>
                        </div>
                        <p class="mb-0 mt-1" th:text="${survey.getDescription()}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">


            <div class="card mt-3">
                <div class="card-header bg-secondary text-white">
                    <i class="fas fa-fire-alt"></i> Newest surveys
                </div>

                <div class="p-3" th:if="${newestSurveys.isEmpty()}">
                    <div class="alert alert-danger m-0">
                        No surveys
                    </div>
                </div>

                <div class="list-group list-group-flush">
                    <a th:href="@{/surveys/detail/{id}/{slug}(id = ${survey.getId()}, slug = ${survey.getSlug()})}"
                       class="list-group-item list-group-item-action"
                       th:each="survey: ${newestSurveys}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${survey.getName()}"></h5>

                            <div class="text-secondary">
                                <i class="fas fa-calendar-plus"></i>
                                <small th:text="${#temporals.format(survey.getCreatedAt(), 'dd.MM.yyyy')}"></small>
                            </div>
                        </div>
                        <p class="mb-0 mt-1" th:text="${survey.getDescription()}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>