<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(title='Sign up', metaDescription='Sign up and start filling in numerous surveys.', icon='user-plus')">
<head></head>
<body>
<section th:fragment="content">

    <div class="card shadow p-3 bg-white">

        <form action="#" th:action="@{/sign-up}" th:object="${userSignUpDto}" method="post" class="m-0">
            <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
                <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" th:errorclass="is-invalid" th:field="*{email}" id="email">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">First name</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{firstName}" id="firstName">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{lastName}" id="lastName">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{password}" id="password">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="matchingPassword">Password confirm</label>
                <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{matchingPassword}" id="matchingPassword">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"></p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>

    </div>

</section>
</body>
</html>