<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page(title='Sign In', metaDescription='Sign in to start filling in the surveys.', icon='sign-in-alt')">
<head></head>
<body>
<section th:fragment="content">

    <div class="card shadow p-3 bg-white">

        <form action="#" th:action="@{/sign-in}" th:object="${userSignInDto}" method="post" class="m-0">
            <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
                <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" th:field="*{email}" id="email">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" id="password">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" th:field="*{rememberMe}" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember me</label>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('rememberMe')}" th:text="${err}"></p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

    </div>

</section>
</body>
</html>